@model ModelEF.Model.Product
@{
    /**/

    ViewBag.Title = "Thêm sản phẩm mới";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    #titleMain {
        font-size: 20px;
    }

    .form-group input#buttonMain {
        padding: 10px 15px;
        width: 200px;
    }

    #bntChoosImage {
        margin-top:10px;
    }
    #css {
        background-color: #FF3366;
        width: 133px;
        height: 41px;
        margin: 0px;
        border: 1px solid;
        padding: 10px 15px;
        margin-right: 40px;
        font-weight: 600;
        border-radius: 12px;
    }

    #label {
        font-weight: 700;
        color: #009688;
        height:30px;
        text-align:left;
        margin-left:50px;
    }
</style>

@section header{
    <div id="titleMain" style="color:#EB144C">
        <img alt="" src="~/Assets/images/themmoi.png" width="45px" height="45px">&nbsp;Thêm sản phẩm
    </div>
 
}

@section footerjs{
    <script>
        $(document).ready(function (e) {
            //e.preventDefault();
            $('#bntChoosImage').on('click', function () {
                var finder = new CKFinder();
                finder.selectActionFunction = function (url) {
                    $('#txtImage').val(url);
                };
                finder.popup();
            })
        })
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.IDproduct, "Mã Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2", @id = "label" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.IDproduct, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IDproduct, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Nameproduct, "Tên Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2", @id = "label" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.Nameproduct, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nameproduct, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Size, "Khối lượng", htmlAttributes: new { @class = "control-label col-md-2", @id = "label" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Description_pd, "Mô tả", htmlAttributes: new { @class = "control-label col-md-2", @id = "label" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.Description_pd, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description_pd, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, "Số lượng", htmlAttributes: new { @class = "control-label col-md-2", @id = "label" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { type = "number", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UnitCost, "Giá", new { @class = "control-label col-md-2", @id = "label" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.UnitCost, new { htmlAttributes = new { Type = "number", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UnitCost, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Image, "Ảnh", htmlAttributes: new { @class = "control-label col-md-2", @id = "label" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @ReadOnly = "ReadOnly", @class = "form-control", @id = "txtImage" }, id = "txtImage" })
            <center><a id="bntChoosImage" class="btn btn-primary" ng-click="ChooseImage()">Chọn ảnh</a></center>
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.category, "Thương hiệu", htmlAttributes: new { @class = "control-label col-md-2", @id = "label" })
        <div class="col-md-6">
            <center>
                @Html.DropDownListFor(model => model.category, (IEnumerable<SelectListItem>)ViewBag.IDcategory, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.category, "", new { @class = "text-danger" })
            </center>
        </div>
    </div>
    <div class="form-group">

        <div style=" margin-left:330px">
            @Html.ActionLink("Về trang quản lý", "Index", "Product", null, new { @id = "css" })
            <input id="buttonMain" class="btn btn-primary" type="submit" value="Thêm " style="border-radius: 12px; color: black; width: 132px; background-color: #00DD00; border: 1px solid; font-weight: 600;" />
        </div>

    </div>

</div>
}